<main class="main-wrap">
    <header class="main-header navbar">

        <div class="col-nav">
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link btn-icon" href="/admin/logout">Logout</i> </a>
                </li>
            </ul>
        </div>
    </header>

    <section class="content-main">

        <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">


        </header> <!-- card-header end// -->

        <div class="card-body">

            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <th scope="row" class="serialNumber">{{@index}}</th>
                        <td>{{this.firstName}} {{this.lastName}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.mobile}}</td>
                        <td>
                            {{#if this.status}}
                            <a href="/admin/status/?id={{this._id}}&status={{this.status}}"><i
                                    class="fas fa-user-lock text-danger"></i></a>
                            {{else}}
                            <a href="/admin/status/?id={{this._id}}&status={{this.status}}"><i
                                    class="fas fa-unlock text-success"></i></a>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <script>
                function myFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>


        </div> <!-- card-body end// -->
        </div> <!-- card end// -->


    </section> <!-- content-main end// -->
</main>
<script>
    let idNumber = document.getElementsByClassName('serialNumber')
    for (var i = 0; i < idNumber.length; i++) idNumber[i].innerHTML = idNumber[i].innerHTML - (-1)
</script>